/* Color Declaration */
:root {
    --dark-shade: #247881;
    --normal-shade: #30AADD;
    --light-shade: #00FFC6;
    --light-orange: #fcd703;
    --dark-gray: #403f39;
}

/* Properties Applied to all */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body {
    background-color: var(--light-orange);
}

/* Header Style */

header {
    text-align: center;
    background-color: var(--light-orange);
    color: var(--dark-gray);
    /* font-family: 'Righteous', cursive; */
}

header h1 {
    font-size: 4vw;
    padding: 5px;
    margin: 0px;
}


/* Main Card Style */
.main-card-col {
    padding: 0px;
    text-align: center;
}

.main-card {
    background-color: var(--dark-gray);
    font-size: 35px;
    /* padding: 0px; */
    /* font-family: 'Righteous', cursive; */
}

.main-card-header {
    color: var(--dark-gray);
    text-align: center;
    background-color: white;
    border: 2px solid var(--light-orange);
}

.main-card-img-cont {
    border: 2px solid var(--light-orange);
}


/* Selection tab Style */

#selection-tab-heading {
    text-align: center;
    padding: 5px;
    margin: 0px;
    background-color: white;
}

.selected-img-button,
.selection-tab {
    background: var(--light-orange);
}

.selected-img-button img {
    background-color: white;
    display: inline;
    width: 30%;
    margin: 5px;
    border-radius: 10px;
}

.selected-img-button img:hover {
    box-shadow: 3px 3px 3px 3px var(--dark-gray);
    cursor: pointer;
}

.empty-col {
    padding: 0px;
}