:root {
    --dark-shade: #247881;
    --normal-shade: #30AADD;
    --light-shade: #00FFC6;
    --light-orange: #fcd703;
    --dark-gray: #403f39;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

header {
    text-align: center;
    background-color: var(--light-orange);
    color: var(--dark-gray);
    /* font-family: 'Righteous', cursive; */
}

header h1 {
    font-size: 4vw;
    padding: 5px;
    margin: 0px;
}

.main-card-col {
    padding: 0px;
    text-align: center;
}

.main-card {
    background-color: var(--dark-gray);
    font-size: 35px;
    padding: 0px;
    /* font-family: 'Righteous', cursive; */
}

.main-card-header {
    color: var(--dark-gray);
    text-align: center;
    background-color: white;
    border: 2px solid var(--light-orange);
}

.main-card-img-cont {
    border: 2px solid var(--light-orange);
}

.main-card-img {}